/* External CSS */
#dci {
    text-decoration: none;
}
#skill-list {
    /* remove the bullets */
    list-style: none;
}
body {
    background-color: #9ff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h {
    color: #444;
    text-align: center;
    font-size:50px;
    border: 2px solid #aaa;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px #aaa;
    background-color:#8aa;
}
.h3 {
    color: #444;
    text-align: center;
    font-size:30px;
    border: 2px solid #aaa;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px #aaa;
    background-color:#8aa;
}
